.container{
    font-family: 'Chelsea Market';
    background-image: url(../essentials/bg/Pastel-Ice-Cream-bg.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    height:50vmax;
    width:100%;
}

.container h2{
    color: #e47994;
    margin: 0 3vmax 0 4vmax; 
    font-size: 3vmax;
    word-spacing: 2vmin;
}
.container button{
    font-size: 1.6vmax;
    margin:4vmax;
    color :#000;
    text-align: center;
    background-color: #ffffff;
    width: 15vmax;
    height: 4vmax;
    border: 2px solid #000;
    border-radius: 28px 28px 28px 28px;
}
.container button:hover{
    background-color: #ffd6d6;
    -webkit-box-shadow: 0px -1px 5px 4px rgba(207,205,207,0.56);
    -moz-box-shadow: 0px -1px 5px 4px rgba(207,205,207,0.56);
    box-shadow: 0px -1px 5px 4px rgba(207,205,207,0.56);
}
@media screen and (max-width:600px){
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30vmax;
        font-size: 2vmin;
    }
}